{% extends 'base.html'%}
{%block head%}
<title>About</title>
{%endblock%}
{%block body%}
<h1>About page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Lets make a profit!!</h1>
        <p> Here we make a keen niteraction with farmers and the industrialists</p>
        <p>This will help you to make a profitable deal with the products Contact us:-<a href="https://www.instagram.com/manudeepakreddy/">Instagram</a> </p>
        <p>The main theme of this -KISAN AID- is to save your money insterd of selling your product,or buying the product from the retailer.. here we will make a path that one can get or seel their product easyly in a profitable manner</p>
        <h3> Register Now</h3>
        <a class="btn btn-primary" href="/post" role="button">Lets go to Farmer info &raquo;</a>
      </div>
    </div>
  </main>
{%endblock%}
