{% extends 'base.html'%}
{%block head%}
<title>home</title>
{%endblock%}
{%block body%}
<h1>Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <h2>Be a profitable person</h2>
        <p> WE ARE HERE TO HELP YOU!!!</p>
        <p>Farmers ..Lets make your work easy.Join with us to be  profitable former.Our aim is to make a deal of your production in a profitable manner.. Contact us:-<a href="https://www.instagram.com/manudeepakreddy/">Instagram</a> </p>
        <p>Lets become a member in the Agricultural Aid  .. Here we go..</p>
        <h3> Register Now</h3>
        <a class="btn btn-primary" href="/post" role="button">Lets go to Farmer info &raquo;</a>
      </div>
    </div>
  </main>
{%endblock%}
